.payments .content-container .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/galeria1-mobile.png);
  background-size: cover;
}

.payments .content-container .image-gallery .image.second {
  background: url(../img/galeria2-mobile.png);
  background-size: cover;
}

.payments .content-container .image-gallery .image.third {
  background: url(../img/galeria3-mobile.png);
  background-size: cover;
}

.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

/* PACOTES DE VIAGENS */
.travel-packages.payments .subtitle {
  font-size: 40px;
}

.travel-packages.payments .content-container .image-gallery .image.first {
  background: url(../img/travel-packages/galeria1-mobile.png);
  background-size: cover;
}

.travel-packages.payments .content-container .image-gallery .image.second {
  background: url(../img/travel-packages/galeria2-mobile.png);
  background-size: cover;
}

.travel-packages.payments .content-container .image-gallery .image.third {
  background: url(../img/travel-packages/galeria3-mobile.png);
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/galeria1-tablet.png);
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/galeria2-tablet.png);
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.third {
    background: url(../img/galeria3-tablet.png);
    background-size: cover;
  }

  /* PACOTES DE VIAGENS */
  .travel-packages.payments .content-container .image-gallery .image.first {
    background: url(../img/travel-packages/galeria1-tablet.png);
    background-size: cover;
  }

  .travel-packages.payments .content-container .image-gallery .image.second {
    background: url(../img/travel-packages/galeria2-tablet.png);
    background-size: cover;
  }

  .travel-packages.payments .content-container .image-gallery .image.third {
    background: url(../img/travel-packages/galeria3-tablet.png);
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .content-container .text-content {
    width: 360px;
  }

  .payments .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }
}
